version: 2.1

parameters:
  base_docker_image:
    description: "Name of the base docker image to use"
    type: "string"
    default: "cimg/base:2021.04"
  trunk_branch_name:
    description: "Name of the trunk branch"
    type: "string"
    default: "trunk"

orbs:
  buildevents: honeycombio/buildevents@0.2.8

#  mode-common:
#    orbs:
#      buildevents: honeycombio/buildevents@0.2.8

#    commands: []

#    jobs: []

workflows:
  build:
    jobs:
      - setup-buildevents
      - watch-buildevents:
          requires: [ "setup-buildevents" ]
#      - configure:
#          requires: [ "setup-buildevents" ]
#      - build:
#          requires: [ "setup-buildevents", "configure" ]
      - test:
          requires: [ "setup-buildevents" ]
#          requires: [ "setup-buildevents", "build" ]
#      - package:
#          requires: [ "setup-buildevents", "test" ]
#      - deploy:
#          requires: [ "setup-buildevents", "package" ]

executors:
  common:
    docker:
      - image: << pipeline.parameters.base_docker_image >>

commands:
  command-using-pipeline-parameter:
    description: This command uses a pipeline parameter.
    steps:
      - run: echo "The trunk branch is named '<< pipeline.parameters.trunk_branch_name >>'"

jobs:
  setup-buildevents:
    executor: common
    steps:
      - buildevents/start_trace

  watch-buildevents:
    executor: common
    steps:
      - buildevents/watch_build_and_finish:
          timeout: 60

#  configure:
#    executor: common
#    steps:
#      - buildevents/with_job_span:
#          steps:
#            - command-using-pipeline-parameter
#            - run: echo "I'm configure"

#  build:
#    executor: common
#    steps:
#      - buildevents/with_job_span:
#          steps:
#            - run: echo "I'm build"

  test:
    executor: common
    steps:
      - buildevents/with_job_span:
          steps:
            - command-using-pipeline-parameter
            - run: echo "I'm test"

#  package:
#    executor: common
#    steps:
#      - buildevents/with_job_span:
#          steps:
#            - run: echo "I'm package"

#  deploy:
#    executor: common
#    steps:
#      - buildevents/with_job_span:
#          steps:
#            - run: echo "I'm deploy"
